@import 'tailwindcss';
@tailwind base;
@tailwind utilities;

/* keep this file SMALL */

:root {
  --font-family: system-ui, -apple-system, sans-serif;
  --bg-color: #ffffff;
  --text-color: #111111;
  --button-bg: #111111;
  --button-text-color: #ffffff;
  --bottom-footer-text-color: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

@media (min-width: 1280px) {
  html {
    font-size: 1vw;
  }
}

@media (min-width: 1601px) {
  html {
    font-size: 16px;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
}
body {
  overflow-x: hidden !important;
}
